doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Cootels
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/style.min.css")
    body
        header.header(id="header")
            .container
                .header__wrapper
                    a.logo(href="#header")
                        img.logo__img(src="images/logo.svg" alt="Logo" width = "123", height= "39")
                    nav.menu
                        ul.menu__list
                            li.menu__list-item
                                a.menu__list-link(href="#rooms") Rooms
                            li.menu__list-item
                                a.menu__list-link(href="#questions") Reservation
                            li.menu__list-item
                                a.menu__list-link(href="#contacs") Contacs
                    .header__button
                        a.button(href="#questions").header__start Get Started
        main.content
            .container
                section.section.hero
                    .hero__info
                        h1.hero__title Nature, Warmth, and Beauty in One Space
                        p.hero__text One place to release all the stress, bring back happines, and get back to nature. We provide the best room and nature for you. Come visit us anytime you want.
                        a.button.hero__btn(href="#") Reservation
                    .hero__images
                        .hero__image.hero__images-left
                            img.hero__img(src="images/left-img.jpg" alt="Left part of hotel image" width = "180" height = "588")
                        .hero__image.hero__images-center
                            img.hero__img(src="images/center-img.jpg" alt="Center part of hotel image" width = "180" height = "588")
                        .hero__image.hero__images-right
                            img.hero__img(src="images/right-img.jpg" alt="Right part of hotel image" width = "180" height = "588")
                section.section.information
                    .information__image
                        img.information__img(src="images/information-img.jpg" alt="Hotel in Norway" width="384" height="576")
                    .information__info
                        h2.section-title.information__title Cozy and Down to Earth Cootage Hotel in Norway.
                        p.paragraph.information__text Our Cootage Hotel is an intimate hideway concieved for dicerning travelers. It faces directly the unique and spectacular panorama of the Hallerbos Jungle.
                        p.paragraph.information__text Cootels extends along a private, quiet, and beautiful nature. Stay away from crowd and enjoy the cozy and beauty with us.
                        a.button.information__button(href='#questions') Learn More
                section.section.advantages
                    .advantages__wrapper.advantages__activities
                        .advantages__info
                            h2.section-title.advantages__title Cabin Activities
                            p.paragraph.advantages__text Don’t worry to get bored easily in our cabin. We have so many cabin activities for you to do it alone or with group. Maybe this is the best chance for you to make new friends or even a lover.
                        .advantages__image
                            img.advantages__img(src="images/advantages-activities.jpg" alt="Cabin Activities" width= "384" height = "384")
                    .advantages__wrapper.advantages__food
                        .advantages__info.advantages__food-info
                            h2.section-title.advantages__title 100% Organic Food
                            p.paragraph.advantages__text We served 100% organic, low process and delicious food. We allow our guest to have breakfast or dinner request.What ever made your taste buds happy.
                        .advantages__image
                            img.advantages__img(src="images/advantages-food.jpg" alt="Cabin Activities" width= "384" height = "384")
                section.section.rooms(id = "rooms")
                    .rooms__header
                        h2.section-title.rooms__title Many Rooms to Choose
                        p.paragraph.rooms__text There is a room for every needs. We have room for individuals until family size, we also have a cabin for more private experience
                        a.button.rooms__button(href='#questions') Explore more
                    .rooms__cards
                        .rooms__card
                            .rooms__card-image
                                img.rooms__card-img(src="images/single-room.jpg" alt="Single Room" width="384" height="489")
                            h4.rooms__card-title Single Room
                            p.rooms__card-text Best for a brave lone wolf who need comfort and quiet quality time, but you still have a chance to meet others. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reprehenderit neque possimus dolorem, aliquid tenetur.
                            .rooms__card-link-wrapper
                                a.rooms__card-link(href="#") Learn more
                        .rooms__card
                            .rooms__card-image
                                img.rooms__card-img(src="images/double-room.jpg" alt="Single Room" width="384" height="489")
                            h4.rooms__card-title Double Room
                            p.rooms__card-text Best for couple, seek happiness in intimacy without worry of being disturbed. Feel the whole world just for you two
                            .rooms__card-link-wrapper
                                a.rooms__card-link(href="#") Learn more
                        .rooms__card
                            .rooms__card-image
                                img.rooms__card-img(src="images/cottage.jpg" alt="Single Room" width="384" height="489")
                            h4.rooms__card-title Cottage
                            p.rooms__card-text Best for family or group. One cootage can fit up to 5 people. Made stronger bond with your family or friends
                            .rooms__card-link-wrapper
                                a.rooms__card-link(href="#") Learn more
                section.section.questions(id="questions")
                    .questions__info
                        h5.questions__suptitle Start your journey!
                        h2.section-title.questions__title How to Get My Room?
                        p.questions__text You can contact us by phone or email us. Easily tap the contact button below and it will take you to our contact point
                        .questions__buttons
                            a.button.questions__contact(href="#") Contact us
                            a.questions__more(href="#") Explore more room
                    ol.questions__accordion
                        li.questions__question
                            h4.questions__accordion-title Choose a room and date
                            p.questions__accordion-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sequi explicabo eos necessitatibus dolore unde et architecto itaque aliquid nemo.
                        li.questions__question
                            h4.questions__accordion-title.questions__accordion-open Check for room availability
                            p.questions__accordion-text Contact us via phone or email, ask for availability of you choice of room. We might offer you something exciting.
                        li.questions__question
                            h4.questions__accordion-title Enjoy your room
                            p.questions__accordion-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse alias beatae quo, velit molestias debitis neque repellat doloremque a quod vero corporis non error explicabo, consequatur sunt et laborum magni?
                section.section.reviews
                    h2.section-title.reviews__title Hear From Our Happy Customers
                    .reviews__slider
                        .reviews__slide
                            .reviews__image
                                img.reviews__img(src="images/reviews-avatar-1.jpg" alt="Avatar" width="120" height="120")
                            .reviews__text “Great service, great food, great people. The scenery is also beautiful, you can do so much activity even with your famility. Worth every penny! you should come and see for your self.  5 out of 5! the waffle is great!”
                            .reviews__name Kirana Dunham
                        .reviews__slide
                            .reviews__image
                                img.reviews__img(src="images/reviews-avatar-2.jpg" alt="Avatar" width="120" height="120")
                            .reviews__text “Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi necessitatibus doloribus distinctio vitae unde et voluptatem, sint ad placeat ratione? Accusantium sed iure beatae. Blanditiis commodi omnis corporis quaerat maiores?”
                            .reviews__name Yvie Traynor
                        .reviews__slide
                            .reviews__image
                                img.reviews__img(src="images/reviews-avatar-3.jpg" alt="Avatar" width="120" height="120")
                            .reviews__text “Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, nisi aliquam autem nostrum dolorem voluptatum facere voluptates veniam quisquam eius optio amet labore dolorum neque!”
                            .reviews__name Bertram Gonzalez
                        .reviews__slide
                            .reviews__image
                                img.reviews__img(src="images/reviews-avatar-4.jpg" alt="Avatar" width="120" height="120")
                            .reviews__text “Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis illo a assumenda corporis odit sed tenetur officia magnam iure totam.”
                            .reviews__name Ed Aguirre


        script(src="js/main.min.js")