doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Cootels
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/style.min.css")
    body
        header.header(id="header")
            .container
                .header__wrapper
                    a.logo(href="#header")
                        img.logo__img(src="images/logo.svg" alt="Logo" width = "123", height= "39")
                    nav.menu
                        ul.menu__list
                            li.menu__list-item
                                a.menu__list-link(href="#Rooms") Rooms
                            li.menu__list-item
                                a.menu__list-link(href="#Reservation") Reservation
                            li.menu__list-item
                                a.menu__list-link(href="#Contacs") Contacs
                    .header__button
                        a.button(href="#Reservation").header__start Get Started
        main.content
            .container
                section.section.main-section
                    .main-section__info
                        h1.main-section__title Nature, Warmth, and Beauty in One Space
                        p.main-section__text One place to release all the stress, bring back happines, and get back to nature. We provide the best room and nature for you. Come visit us anytime you want.
                        a.button.main-section__btn Reservation
                    .main-section__images
                        .main-section__image.main-section__images-left
                            img.main-section__img(src="images/left-img.jpg" alt="Left part of hotel image" width = "180" height = "588")
                        .main-section__image.main-section__images-center
                            img.main-section__img(src="images/center-img.jpg" alt="Center part of hotel image" width = "180" height = "588")
                        .main-section__image.main-section__images-right
                            img.main-section__img(src="images/right-img.jpg" alt="Right part of hotel image" width = "180" height = "588")
                section.section.information
                    .information__image
                        img.information__img(src="images/information-img.jpg" alt="Hotel in Norway" width="384" height="576")
                    .information__info
                        h2.section-title.information__title Cozy and Down to Earth Cootage Hotel in Norway.
                        p.paragraph.information__text Our Cootage Hotel is an intimate hideway concieved for dicerning travelers. It faces directly the unique and spectacular panorama of the Hallerbos Jungle.
                        p.paragraph.information__text Cootels extends along a private, quiet, and beautiful nature. Stay away from crowd and enjoy the cozy and beauty with us.
                        a.button.information__button(href='#Reservation') Learn More
                section.section.advantages
                    .advantages__wrapper.advantages__activities
                        .advantages__info
                            h2.section-title.advantages__title Cabin Activities
                            p.paragraph.advantages__text Don’t worry to get bored easily in our cabin. We have so many cabin activities for you to do it alone or with group. Maybe this is the best chance for you to make new friends or even a lover.
                        .advantages__image
                            img.advantages__img(src="images/advantages-activities.jpg" alt="Cabin Activities" width= "384" height = "384")
                    .advantages__wrapper.advantages__food
                        .advantages__info.advantages__food-info
                            h2.section-title.advantages__title 100% Organic Food
                            p.paragraph.advantages__text We served 100% organic, low process and delicious food. We allow our guest to have breakfast or dinner request.What ever made your taste buds happy.
                        .advantages__image
                            img.advantages__img(src="images/advantages-food.jpg" alt="Cabin Activities" width= "384" height = "384")


        script(src="js/main.min.js")