doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Cootels
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/style.min.css")
    body
        header.header(id="header")
            .container
                .header__wrapper
                    a.logo(href="#header")
                        img.logo__img(src="images/logo.svg" alt="Logo" width = "123", height= "39")
                    nav.menu
                        ul.menu__list
                            li.menu__list-item
                                a.menu__list-link(href="#Rooms") Rooms
                            li.menu__list-item
                                a.menu__list-link(href="#Reservation") Reservation
                            li.menu__list-item
                                a.menu__list-link(href="#Contacs") Contacs
                    .header__button
                        a.button(href="#Reservation").header__start Get Started
        main.content
            .container
                section.section.main-section
                    .main-section__info
                        .main-section__title Nature, Warmth, and Beauty in One Space
                        .main-section__text One place to release all the stress, bring back happines, and get back to nature. We provide the best room and nature for you. Come visit us anytime you want.
                        a.button.main-section__btn Reservation
                    .main-section__images
                        .main-section__image.main-section__images-left
                            img.main-section__img(src="images/left-img.jpg" alt="Left Image" width = "180" height = "588")
                        .main-section__image.main-section__images-center
                            img.main-section__img(src="images/center-img.jpg" alt="Center Image" width = "180" height = "588")
                        .main-section__image.main-section__images-right
                            img.main-section__img(src="images/right-img.jpg" alt="Right Image" width = "180" height = "588")

        script(src="js/main.min.js")